<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <title>GDMS ASMT</title>
</head>

<body>
  <!-- <link rel='stylesheet' href='/stylesheets/flaty.min.css' /> -->
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <div class="container">
    <% include navbar.ejs %>
  </div>
  

  <% include project.ejs %>
  <% include team.ejs %>
  <% include sponsor.ejs %>

  

    
  
    <!-- TODO: FOOTER  -->
</body>
<% include tail.ejs %>
<script src='/javascript/main.js'></script>

</html>