<nav>
  <div class="nav-wrapper">
    <a onclick="openHome()" class="brand-logo">GDMS Team</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a onclick="openProject()" >Project</a></li>
    <li><a onclick="openTeam()">Team</a></li>
    <li><a onclick="openSponsor()">Sponsor</a></li>
    </ul>
  </div>
</nav>