
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style='display:none'>
  <a style='color:white'class="navbar-brand" onclick="goCover()">Aerial Spectrum Mapping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id='ProjectLink' class="nav-item nav-link" onclick="showProject()">project</a>
      <a id='TeamLink' class="nav-item nav-link" onclick="showTeam()">team</a>
      <a id='SponsorLink' class="nav-item nav-link" onclick='showSponsor()'>sponsor</a>
    </div>
  </div>
</nav>