<script>
    // $('#progCarousel').on('slide.bs.carousel', function () {

    // })
    // $('#progCarousel').carousel();
</script>
<div id='project' class="container main" style='display:none; margin-top:2rem'>

    <main role="main">


        <!-- Marketing messaging and featurettes
              ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class='col-sm-12' style="padding-bottom:.5rem">
                    <h1 class="secondaryTextColor">Mission Statement</h1>
                    <p class='primaryTextColor' style="font-style:italic">
                        Eliminate the need to purchase new E.M. bands by more efficient use of exisiting bands.
                    </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class='secondaryTextColor'>Project<br>Proposal</h2>
                    <p class="info_h">Learn more about our mission and customer. See their needs and requirements and the concepts to our solutions.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="https://drive.google.com/open?id=16J103laSFIxSWOxJVnjK12uQlksx72tusdF0g9v3HFg" role="button">View details &raquo;</a>
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class='secondaryTextColor'>Preliminary<br>Design</h2>
                    <p class="info_h">Understand our intial design and the final concept. See our analysis and evaluation of our selected concepts.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="https://drive.google.com/open?id=1CP7eUCqUzZiIcWiyMioQTMVbz6ULvu4T466vriYD5f8" role="button">View details &raquo;</a>
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class='secondaryTextColor'>Performance<br>Cost</h2>
                    <p class="info_h">
                        See our performance metrics and total cost of the project. Also presented is the alpha prototype's status.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="https://drive.google.com/open?id=1EXHrNEjDXwvUDSHjPPw3J1DdNZNOKgf0Y3pAFxrUh6o" role="button">View details &raquo;</a>
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <!-- /.col-lg-4 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class='secondaryTextColor'>Optimized<br>Design</h2>
                    <p class="info_h">
                        A review of our final design and the optimizations that lead to it. The beta
                        prototype will also be discussed, along with modifications completed to the alpha.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="https://drive.google.com/open?id=1EXHrNEjDXwvUDSHjPPw3J1DdNZNOKgf0Y3pAFxrUh6o" role="button">View details &raquo;</a>
                    </p>
                </div>
            </div>
            <!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">The Mapping Unit
                        <span class="text-muted">It'll blow your mind.</span>
                    </h2>
                    <p class="lead">The mapping unit will be used to record current status of a set of E.M. bands. This historical data will
                        be used to create a model to help predict future status of the bands given enviornment parameters.
                        This will allow us to predict which bands should be used
                        <strong>now</strong>. Presented to the right is the mapping unit frame and components.
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/images/sponsor/enclosure.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">The Delivery Unit
                        <span class="text-muted">Oh yeah, it's that good.</span>
                    </h2>
                    <p class="lead">A hexcopter drone will be used to move the mapping unit from location to location. This will allow our 
                        solution to remain mobile and offer a wider range of usable features. 
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/images/sponsor/hexacopter.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">The Statistical Unit
                        <span class="text-muted">Checkmate.</span>
                    </h2>
                    <p class="lead">A multinomial logistic regression model will be used as the future prediction model. 
                        The model will use the current second, minute, hour, day and weather conditions as the predictor variables. 
                        The best band to use will be reported as the predicted variable. 
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/images/sponsor/stats.png" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div>
        <!-- /.container -->



    </main>



</div>