<div id='project' class="container main" style='display:none; margin-top:2rem'>
    <div class="row">
        <div class="col-4">
            <div class="col-12" id="sticky-sidebar">
                <ul>
                    <li>
                        <a>The Problem</a>
                    </li>
                    <li>
                        <a>The Solution</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8" id="mainProject">
            <h3>THE PROBELM</h3>
            
        </div>
    </div>
</div>