<div id='sponsor' class="container main" style='display:none' >
  <% include navbar.ejs %>
  <div class="carousel" >
    <a class="carousel-item" href="#one!"><img src="/images/GDMS-logo-img.png"></a>
    <a class="carousel-item" href="#two!"><img src="/images/tactical-vehicles.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/images/Sea-Domain-Image.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/images/sponsorsimg.jpg"></a>
  </div>

</div>
