
<div id='team' class="container main" style='display:none'>
  <div class='row' style='margin-top:2rem'>
    <div class= 'col-sm-4'>
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="/images/team/arun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class='card-tittle'>Arun Aruljothi</h5>
          <p class="card-text">
              Arun is a mechanical engineering
              major with a computer science
              minor. He is also pursuing a
              master's degree in robotics and
              control. He has co-op experience
              working in package engineering,
              power systems, risk and reliability
              analysis and drone management.
              Arun can bring his experience
              working with drone telemetry and
              radio control to this project
              improving the mobility of the
              system.
            </p>
        </div>
      </div>
    </div>
    <div class= 'col-sm-4'>
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="/images/team/arun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class='card-tittle'>Arun Aruljothi</h5>
          <p class="card-text">
              Arun is a mechanical engineering
              major with a computer science
              minor. He is also pursuing a
              master's degree in robotics and
              control. He has co-op experience
              working in package engineering,
              power systems, risk and reliability
              analysis and drone management.
              Arun can bring his experience
              working with drone telemetry and
              radio control to this project
              improving the mobility of the
              system.
            </p>
        </div>
      </div>
    </div>
    <div class= 'col-sm-4'>
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="/images/team/arun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class='card-tittle'>Arun Aruljothi</h5>
          <p class="card-text">
              Arun is a mechanical engineering
              major with a computer science
              minor. He is also pursuing a
              master's degree in robotics and
              control. He has co-op experience
              working in package engineering,
              power systems, risk and reliability
              analysis and drone management.
              Arun can bring his experience
              working with drone telemetry and
              radio control to this project
              improving the mobility of the
              system.
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row' style='margin-top:2rem'>
    <div class= 'col-sm-4'>
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="/images/team/arun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class='card-tittle'>Arun Aruljothi</h5>
          <p class="card-text">
              Arun is a mechanical engineering
              major with a computer science
              minor. He is also pursuing a
              master's degree in robotics and
              control. He has co-op experience
              working in package engineering,
              power systems, risk and reliability
              analysis and drone management.
              Arun can bring his experience
              working with drone telemetry and
              radio control to this project
              improving the mobility of the
              system.
            </p>
        </div>
      </div>
    </div>
    <div class= 'col-sm-4'>
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="/images/team/arun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class='card-tittle'>Arun Aruljothi</h5>
          <p class="card-text">
              Arun is a mechanical engineering
              major with a computer science
              minor. He is also pursuing a
              master's degree in robotics and
              control. He has co-op experience
              working in package engineering,
              power systems, risk and reliability
              analysis and drone management.
              Arun can bring his experience
              working with drone telemetry and
              radio control to this project
              improving the mobility of the
              system.
            </p>
        </div>
      </div>
    </div>
    <div class= 'col-sm-4'>
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="/images/team/arun.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class='card-tittle'>Arun Aruljothi</h5>
          <p class="card-text">
              Arun is a mechanical engineering
              major with a computer science
              minor. He is also pursuing a
              master's degree in robotics and
              control. He has co-op experience
              working in package engineering,
              power systems, risk and reliability
              analysis and drone management.
              Arun can bring his experience
              working with drone telemetry and
              radio control to this project
              improving the mobility of the
              system.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>