<div id='team' class="container main" style='display:none'>
  <div id="teamCarousel" class="carousel slide" style='margin-top:2rem'>
    <div class="carousel-inner" style="max-height:40%">
      <div class='carousel-item active container' style="margin-bottom:1rem">
        <div class='row' id='me'>
          <div class='col-sm-12'>
            <div class='card-deck'>
              <div class="card">
                <img class="card-img-top rounded img-fluid" src="/images/team/arun.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class='card-tittle'>Arun Aruljothi</h5>
                  <p class="card-text">
                    Arun is a mechanical engineering major with a computer science minor. He is also pursuing a master's degree in robotics and
                    control. He has co-op experience working in package engineering, power systems, risk and reliability
                    analysis and drone management. Arun can bring his experience working with drone telemetry and radio control
                    to this project improving the mobility of the system.
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top rounded img-fluid" src="/images/team/justin.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class='card-tittle'>Justin Holdridge</h5>
                  <p class="card-text">
                    Justin is a mechanical engineering major who is also pursuing a mechanical engineering masters degree. His focus
                    currently lies in the manufacturing industry. The co-op program provided him with solid experience in
                    project management and client consultation. He is also an avid mountain bicyclist and free climber, bowler and enjoys
                    exploring the natural elements.
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top rounded img-fluid" src="/images/team/arun.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class='card-tittle'>Arun Aruljothi</h5>
                  <p class="card-text">
                    Arun is a mechanical engineering major with a computer science minor. He is also pursuing a master's degree in robotics and
                    control. He has co-op experience working in package engineering, power systems, risk and reliability
                    analysis and drone management. Arun can bring his experience working with drone telemetry and radio control
                    to this project improving the mobility of the system.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='carousel-item container' style="margin-bottom:1rem">
        <div class='row' id='cpe'>
          <div class='col-sm-12'>
            <div class='card-deck'>
              <div class="card">
                <img class="card-img-top rounded img-fluid" src="/images/team/grotke.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class='card-tittle'>Johnathan Grotke</h5>
                  <p class="card-text">
                    John Grotke is a computer engineering major working towards a concentration in wireless systems. Different co-op positions
                    gave him experience in different fields such as Systems engineering at Motorola Solutions, Wireless testing
                    at Picatinny Arsenal, and IT helpdesk at Hunter Douglas. John’s hobbies include playing on the Stevens
                    Men’s Club Volleyball Team and playing the guitar.
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top rounded img-fluid" src="/images/team/grotke.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class='card-tittle'>Johnathan Grotke</h5>
                  <p class="card-text">
                    John Grotke is a computer engineering major working towards a concentration in wireless systems. Different co-op positions
                    gave him experience in different fields such as Systems engineering at Motorola Solutions, Wireless testing
                    at Picatinny Arsenal, and IT helpdesk at Hunter Douglas. John’s hobbies include playing on the Stevens
                    Men’s Club Volleyball Team and playing the guitar.
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top rounded img-fluid" src="/images/team/grotke.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class='card-tittle'>Johnathan Grotke</h5>
                  <p class="card-text">
                    John Grotke is a computer engineering major working towards a concentration in wireless systems. Different co-op positions
                    gave him experience in different fields such as Systems engineering at Motorola Solutions, Wireless testing
                    at Picatinny Arsenal, and IT helpdesk at Hunter Douglas. John’s hobbies include playing on the Stevens
                    Men’s Club Volleyball Team and playing the guitar.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row' style='margin-top:2rem'>
    <div class='col-sm-12'>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg">
          <li class="page-item">
            <a style="color:#0288D1" class="page-link" onclick="$('.carousel').carousel('prev')" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span style="color:#0288D1" class="sr-only">Previous</span>
            </a>
          </li>
          <li id='cpePage' class="page-item active">
            <a onclick="$('.carousel').carousel(0)" class="page-link" style="color:#0288D1">ME</a>
          </li>
          <li id='mePage' class="page-item">
            <a onclick="$('.carousel').carousel(1)" class="page-link">ECE</a>
          </li>
          <li class="page-item">
            <a style="color:#0288D1" class="page-link" onclick="$('.carousel').carousel('next')" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>