<div id='team' class="container main" style='display:none'>

  <h4 class='primaryTextColor mt-3' style="font-style:italic; text-align:center">
    Hover over a team member to learn more about them!
  </h4>

  <!--Section: Team v.1-->
  <section class="team-section pb-3">

    <div class="row text-center" style="margin-top: 1rem">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 mx-auto">
        <div class="card card-body" id="kishore" style="min-height:100%">
          <div class="avatar mx-auto my-3">
            <img src="/images/team/kishore.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
          </div>
          <h5 class="font-weight-bold">
            <strong>Kishore pochiraju</strong>
          </h5>
          <p class="grey-text">Team Advisor</p>
        </div>
      </div>
    </div>
    <!-- Grid row -->

    <div class="row text-center">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="card card-body " id='arun' style="min-height:100%">
          <div class="flipper">
            <div class="front">
              <div class="avatar mx-auto my-3">
                <img src="/images/team/arunsmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                <strong>Arun Aruljothi</strong>
              </h5>
              <p class="grey-text">Mechanical Engineer</p>
            </div>
            <div class="back">
              <p class='mt-5' style="text-align:left">
                Arun is a mechanical engineering major with a computer science minor. He is also pursuing a master's degree in robotics and
                control. He has co-op experience working in package engineering, power systems, risk and reliability analysis
                and drone management.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="card card-body " id='grotke' style="min-height:100%">
          <div class="flipper">
            <div class="front">
              <div class="avatar mx-auto my-3">
                <img src="/images/team/grotkesmall.jpeg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                <strong>Johnathan Grotke</strong>
              </h5>
              <p class="grey-text">Computer Engineer</p>
            </div>
            <div class="back">
              <p class='mt-5' style="text-align:left"> John Grotke is a computer engineering major working towards a concentration in wireless systems. Co-op positions
                from Motorola Solutions Picatinny Arsenal have given him valuable wireless and systems engineering experience.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="card card-body " id='mike' style="min-height:100%">

          <div class="flipper">
            <div class="front">
              <div class="avatar mx-auto my-3">
                <img src="/images/team/mikesmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                <strong>Mike Moschetti</strong>
              </h5>
              <p class="grey-text">Computer Engineer</p>
            </div>
            <div class="back">
              <p class='mt-5' style="text-align:left">
                Mike is a Computer Engineering major currently working on getting a concentration in embedded systems. He has a varied co-op
                experience having worked in construction estimation, IT helpdesk, Supply Chain, and mobile applocation development.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="row text-center">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 flip-container " ontouchstart="this.classList.toggle('hover');">
        <div class="card card-body " id='justin' style="min-height:100%">

          <div class="flipper">
            <div class="front">
              <div class="avatar mx-auto my-3">
                <img src="/images/team/justinsmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                <strong>Justin Holdridge</strong>
              </h5>
              <p class="grey-text">Mechanical Engineer</p>
            </div>
            <div class="back" style="text-align: center">
              <p class='mt-5' style="text-align:left">
                Justin is a mechanical engineering major who is also pursuing a mechanical engineering masters degree. His focus currently
                lies in the manufacturing industry. The co-op program provided him with solid experience in project management
                and client consultation.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="card card-body " id='greg' style="min-height:100%">

          <div class="flipper">
            <div class="front">
              <div class="avatar mx-auto my-3">
                <img src="/images/team/gregsmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                <strong>Greg McNeil</strong>
              </h5>
              <p class="grey-text">Mechanical Engineer</p>
            </div>
            <div class="back">
              <p class='mt-5' style="text-align:left">
                Greg McNeil is poised to earn a Bachelor's in Engineering and a Master's in Systems Engineering. Greg's co-op experience
                includes interning at Thomas Polise Consulting Engineering designing industrial HVAC systems, and engineering
                at AKRF, leading subsurface investigations and boring exploration.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="card card-body " id='johna' style="min-height:100%">
          <div class="flipper">
            <div class="front">
              <div class="avatar mx-auto my-3">
                <img src="/images/team/johnasmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                <strong>John Anticev</strong>
              </h5>
              <p class="grey-text">Electrical Engineer</p>
            </div>
            <div class="back">
              <p class='mt-5' style="text-align:left">
                John Anticev is an electrical engineering major working on a concurrent Master's degree in Engineering Management and a Minor
                in Computer Science. Prior work experiences include Exelis and BAE Systems as a Software Engineering Internships.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->


  </section>
</div>
<!--Section: Team v.1-->