body {
    background-image: Url('/images/mainbg.jpg');
    background-color: #FFFFFF;
 }

 .colorscheme1 {
    background-color:#0288D1;
    color:white;
 }
<<<<<<< HEAD

 .accentColor{
    background-color:#607D8B;
    color:white'
 }

 .lightColor{
     background-color: #B3E5FC;
     color:black;
 }

 .primaryColor{
     background-color:#03A9F4;
     color:white;
 }

 

.darkColor{
    background-color: #0288D1;
    color: white;
}

.secondaryTextColor{
    color: #757575;
}

.dividerColor{
    background-color: #BDBDBD;
}

.btn-large {
    overflow: hidden;
}

.darkColor.btn-large:hover {
    background-color: #03A9F4
}

.btn-large:hover:before {
    opacity:1;
}

.btn-large:before {
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}
 .carousel {
 min-height: 900px;
 }