body {

    /* background-color: #444444; */
 }

 /* For buttons and objects */
 .accentColor{
    background-color:#607D8B;
    color:white'
 }

 .lightColor{
     background-color: #B3E5FC;
     color:black;
 }

 .primaryColor{
     background-color:#03A9F4;
     color:white;
 }


.darkColor{
    background-color: #0288D1;
    color: white;
}

.secondaryTextColor{
    color: #757575;
}

.greyColor{
    background-color: #444444;
}

.dividerColor{
    background-color: #BDBDBD;
}

/* For text  */
.accentColorText{
    color:#607D8B;
 }

 .lightColorText{
     color: #B3E5FC;
 }

 .primaryColorText{
     color:#03A9F4;
 }


.darkColorText{
    color: #0288D1;
}

.dividerColorText{
    color: #BDBDBD;
}

.card{
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}



.page-link{
    background-color: white !important;
    color: #0288D1 !important;
}

.page-link.active{
    background-color: #0288D1 !important;
    color: white !important;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 425px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
